@model TestMVC.EntityFramework.hEmployee

@{
    ViewBag.Title = "abcdef";
}

<h2>Edit</h2>


@using (Html.BeginForm("efgh","Employee"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>hEmployee</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EmployeeID)

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeNumber)
                @Html.ValidationMessageFor(model => model.EmployeeNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SSN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SSN)
                @Html.ValidationMessageFor(model => model.SSN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Badge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Badge)
                @Html.ValidationMessageFor(model => model.Badge)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployerID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployerID)
                @Html.ValidationMessageFor(model => model.EmployerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MiddleName)
                @Html.ValidationMessageFor(model => model.MiddleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salutation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salutation)
                @Html.ValidationMessageFor(model => model.Salutation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NickName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NickName)
                @Html.ValidationMessageFor(model => model.NickName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PayGroupID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PayGroupID)
                @Html.ValidationMessageFor(model => model.PayGroupID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeGroupID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeGroupID)
                @Html.ValidationMessageFor(model => model.TimeGroupID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkCodeCountryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkCodeCountryID)
                @Html.ValidationMessageFor(model => model.WorkCodeCountryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeSheetWorkCodeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeSheetWorkCodeID)
                @Html.ValidationMessageFor(model => model.TimeSheetWorkCodeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomTimeRule, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomTimeRule)
                @Html.ValidationMessageFor(model => model.CustomTimeRule)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastHireDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastHireDate)
                @Html.ValidationMessageFor(model => model.LastHireDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdjSeniorityDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdjSeniorityDate)
                @Html.ValidationMessageFor(model => model.AdjSeniorityDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OriginalHireDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OriginalHireDate)
                @Html.ValidationMessageFor(model => model.OriginalHireDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaritialStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaritialStatus)
                @Html.ValidationMessageFor(model => model.MaritialStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SystemValueCodeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SystemValueCodeID)
                @Html.ValidationMessageFor(model => model.SystemValueCodeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EthnicOrigin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EthnicOrigin)
                @Html.ValidationMessageFor(model => model.EthnicOrigin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Disability, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Disability)
                @Html.ValidationMessageFor(model => model.Disability)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Smoker, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Smoker)
                @Html.ValidationMessageFor(model => model.Smoker)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EffectiveDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EffectiveDate)
                @Html.ValidationMessageFor(model => model.EffectiveDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChangeDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChangeDate)
                @Html.ValidationMessageFor(model => model.ChangeDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReCalculate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReCalculate)
                @Html.ValidationMessageFor(model => model.ReCalculate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Exempt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Exempt)
                @Html.ValidationMessageFor(model => model.Exempt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeniorityHours, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SeniorityHours)
                @*@Html.ValidationMessageFor(model => model.SeniorityHours)*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
